gradio==4.31.4
torch==2.7.1
torchvision==0.21.0
transformers==4.40.1
diffusers==0.27.2
accelerate==0.31.0
peft==0.15.2
opencv-python
numpy
matplotlib
xformers==0.0.31
huggingface_hub
git+https://github.com/crowsonkb/k-diffusion.git